# 自分で触ってよくわかる **変数作成の話**
## 個々の変数へのアクセスと新規作成
**最後に課題があります**

## 目次
### 練習
- 練習1: [変数同士の計算から新しい変数を作成する](#section1)
- 練習2: [（google colaboratoryを使っていない場合のみ）*statsmodels* をインストールする](#section2)
- 練習3: [statsmodelsをインポートし、サンプルデータを取得する](#section3)
- 練習4: [他の変数の値によって新しい変数の取る値を決める](#section4)
  - おまけ: [for文とif文](#section_for)
  - おまけ: [locメソッドとilocメソッド](#section_loc)


### 課題
- [課題](#section6)

＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

## 練習
サンプルのデータセットを読み込んで、そのデータを色々な角度から外観してみましょう。  
今回は、*statsmodels* パッケージに含まれているデータセットを使用します。

(注) *statsmodels* パッケージとは、統計モデルを用いて推定や検定、探索ができるPythonライブラリのことです。  

手順は以下の通りです。  

1. (google colaboratoryを使っていない場合のみ) *statsmodels* をインストールする
1. statsmodelsをインポートし、サンプルデータを取得する
1. 条件に合致する集団を抽出する
2. 上位・下位の一部を抽出する

***

<a id="section1"></a>
### 練習1: 変数同士の計算から新しい変数を作成する

最初に、空の表を作成するところから始めてみましょう。
以下のコードを実行して、df_sampleという空の表を作成します。空っぽです。

```
import pandas as pd
df_sample = pd.DataFrame()
```

それでは、下のセルにコードを書いて、実行してください。

In [1]:
import pandas as pd
df_example = pd.DataFrame()
df_example

Empty DataFrame
Columns: []
Index: []

これで表を作成することができました。  
この次に、この表に色々と値を代入していきましょう。
まずは、'weight'列を作ってみましょう。
以下のようなコードを実行します。

```
df_example['weight'] = [70, 80, 60, 90, 75]
```

これで、df_exampleに'weight'という列を新たに作って、リストを渡してあげることで、1行ずつその値を入れることができます。

それでは、下のセルにコードを書いて、実行してください。

In [2]:
df_example['weight'] = [70, 80, 60, 90, 75]
df_example

   weight
0      70
1      80
2      60
3      90
4      75

今度は、'height'列を作ってみましょう。
以下のようなコードを実行します。

```
df_example['height'] = [1.75, 1.80, 1.65, 1.90, 1.70]
```

先ほどと同じ要領ですね。

それでは、下のセルにコードを書いて、実行してください。

In [3]:
df_example['height'] = [1.75, 1.80, 1.65, 1.90, 1.70]
df_example

   weight  height
0      70    1.75
1      80    1.80
2      60    1.65
3      90    1.90
4      75    1.70

これで、'weight'と'height'の2つの列を持つ5行の表が作成されました。

今後は、この'weight'と'height'にある数値を使って、新たな列'BMI'を作成しましょう。  
BMIは、身長(m)を2乗した値で、体重を割ったら、算出できます。

```
df_example['BMI'] = df['weight']/(df['height']**2)
```

それでは、下のセルにコードを書いて、実行してください。

In [4]:
df_example['BMI'] = df_example['weight']/(df_example['height']**2)
df_example

   weight  height        BMI
0      70    1.75  22.857143
1      80    1.80  24.691358
2      60    1.65  22.038567
3      90    1.90  24.930748
4      75    1.70  25.951557

これで、変数を使って、新たな列'BMI'を作ることができました。

実は、これ以外にも、表の作り方はいくつかあります。  
pythonの辞書を使い慣れているのであれば、以下のコードで作成することも可能です。

```
data_example = {
    'weight': [70, 80, 60, 90, 75],
    'height': [1.75, 1.80, 1.65, 1.90, 1.70]
}
df_example = pd.DataFrame(data)
df_example['BMI'] = df_example['weight']/(df_example['height']**2)
```

このように、pd.DataFrameを作るときに辞書データを渡すと、キーを列名、値を要素とした列を含んだ表を作成することができます。  

それでは、下のセルにコードを書いて、実行してください。

In [5]:
data_example = {
    'weight': [70, 80, 60, 90, 75],
    'height': [1.75, 1.80, 1.65, 1.90, 1.70]
}
df_example = pd.DataFrame(data_example)

df_example['BMI'] = df_example['weight']/(df_example['height']**2)
df_example

   weight  height        BMI
0      70    1.75  22.857143
1      80    1.80  24.691358
2      60    1.65  22.038567
3      90    1.90  24.930748
4      75    1.70  25.951557

このほうが理解しやすい方は、こちらでもいいでしょう。

***

<a id="section2"></a>
### 練習2: （google colaboratoryを使っていない場合のみ）*statsmodels* をインストールする

statsmodelsを使用するとき、*google colaboratory* を使用している場合は、何もしなくともすぐ使用できます。  
それ以外の環境では、statsmodelsパッケージのインストールが必要です。 どこかのセルで、以下を実行してください。  （下記のセルを実行すると、インストールします。）  
```
pip install statsmodels
```  
一回インストールしてしまえば、同じ環境であればずっと使えます。

In [6]:
pip install statsmodels

Requirement already satisfied: statsmodels in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (0.13.5)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (23.0)
Requirement already satisfied: scipy>=1.3 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (1.9.3)
Requirement already satisfied: pandas>=0.25 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (2.0.3)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: numpy>=1.17 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from statsmodels) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2023.3)
Requirement already satisfied: six in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

***

<a id="section3"></a>
### 練習3: statsmodelsをインポートし、サンプルデータを取得する

*statsmodels* の *get_rdataset* メソッドを使用して、サンプルデータを取得してみましょう。  
＊取得できるサンプルデータは、以下のサイトに列挙されています。  
https://vincentarelbundock.github.io/Rdatasets/articles/data.html  

前回の自主練と同様に、下記のコードを実行して、*survival* パッケージの *pbc* データを取得しましょう。  

```
import statsmodels.api as sm

dataset = sm.datasets.get_rdataset("pbc", "survival")
df = dataset.data
```

それでは、下のセルにコードを書いて、実行してください。

In [7]:
import statsmodels.api as sm

dataset = sm.datasets.get_rdataset("pbc", "survival")
df = dataset.data

何も出力されませんが、エラーがでなければ成功しています。  
次に進みましょう。

***

<a id="section4"></a>
### 練習4: 他の変数の値によって新しい変数の取る値を決める

上で取得したデータが、変数'df'に代入されています。


ここで、*numpy* パッケージの *where* メソッドを使うと、条件にあった要素とそうでない要素に対して、それぞれ違う要素を入れた、新たな列を作ることができます。

```
df['age_over60'] = np.where(df['age']>=65,'Yes','No')
```

このコードを詳しく説明します。
```
np.where(x,y,z)
```
このメソッドは「各行において、'x'という条件に合致した場合、'y'を返して、そうでない場合'z'を返す、という」という挙動をします。

```
np.where(df['age']>=65,'Yes','No')
```
このコードにより、各行において、`df['age']>=65`であれば`Yes`を、そうでなければ`No`を返す、というように動きます。

```
df['age_over60'] = np.where(df['age']>=65,'Yes','No')
```

先ほどの結果を、新しい列'age_over60'に代入する、ということです。

それでは、下のセルにコードを書いて、実行してください。

In [8]:
import numpy as np

df['age_over65'] = np.where(df['age']>=65,'Yes','No')
df['age_over65']

0       No
1       No
2      Yes
3       No
4       No
      ...
413    Yes
414     No
415     No
416     No
417     No
Name: age_over65, Length: 418, dtype: object

人によっては、np.whereが出てくるところなど、理解が少し難しいかもしれません...

そこで、pythonのfor文とif文がわかる方のために、もう少し直感的に理解が容易なコードも提供しておきます。  
(for文とif文を知らない方は、飛ばしてください)

```
df['age_over65'] = 'No'
for i in range(len(df)):
    if df.loc[i, 'age'] >= 65:
        df.loc[i, 'age_over65'] = 'Yes'
```

解説します。

```
df['age_over65'] = 'No'
```

このコードで、'age_over65'という列を作り、さらに全ての行に'No'の代入します。

```
len(df)
```

これは、dfの行数を取得するコードです。

```
for i in range(len(df)):
```
0から(dfの行数-1)を順番にiに代入していきます。

```
    df.loc[i, 'age']
```
*loc* メソッドが出てきました。これは、大カッコ内に[行名,列名]を入れて、その要素を取得するメソッドです。  
そのため、このコードは、dfの i という行名と、'age'という列名を指定して、一つの要素を取得します。
このiというのは、一つ前のfor文の中で取得したものです。

```
    if df.loc[i, 'age'] >= 65:
```
これは、dfの i という行名と、'age'という列名にある要素が、65以上であれば、その下のコードを実行する、というものです。  
その条件に合わなければ、何もしません。

```
        df.loc[i, 'age_over65'] = 'Yes'
```
最後のこのコードで、dfの i という行名と、'age_over65'という列名にある要素を、'Yes'に置き換えます。

最後に全体を確認します。
```
df['age_over65'] = 'No'
for i in range(len(df)):
    if df.loc[i, 'age'] >= 65:
        df.loc[i, 'age_over65'] = 'Yes'
```
- 'age_over65'という列を作り、さらに全ての行に'No'の代入
- dfの行番号を一つずつ取得し、iに代入
- dfの i という行名と、'age'という列名にある要素が65以上であれば、以下を実行
- dfの i という行名と、'age_over65'という列名にある要素を、'Yes'に置き換える
- そのあと、`for`のところに戻って、行番号を一つ増やして、それ以下を実行
- iに(dfの行数-1)まで代入して、一番したまで行ったところで、終了


それでは、下のセルにコードを書いて、実行してください。

In [9]:
df['age_over65'] = 'No'
for i in range(len(df)):
    if df.loc[i, 'age'] >= 65:
        df.loc[i, 'age_over65'] = 'Yes'
df['age_over65']

0       No
1       No
2      Yes
3       No
4       No
      ...
413    Yes
414     No
415     No
416     No
417     No
Name: age_over65, Length: 418, dtype: object

<a id="section_for"></a>
### おまけ: *for文* と *if文*
for文とif文は、いずれのプログラミング言語を用いる場合でも、理解が必要となります。  
もし、習得していない方がいたら、ここで習得しておくもの良いでしょう。

- for文
https://qiita.com/MoroeTachibana-oh/items/b3afbd952db3aee10ef7

- if文
https://qiita.com/Morio/items/1e06e7ac768758af5ffe

<a id="section_loc"></a>
### おまけ: *loc* メソッドと *iloc* メソッド
pandasを使うときに、表の要素を指定するときに、*loc* メソッドと *iloc* メソッドが有用です。
こちらも、今回理解しておくと良いでしょう。

- *loc* メソッド
  - 行名、列名を指定して、要素にアクセスする。
    - 例: df.loc['田中','体重']
  - メリット: 


- *iloc* メソッド
  - 行、列を番号で指定して、要素にアクセスする。
    - 例: df.iloc[4, 2]
  - メリット: 複数の行、列を取得することができる
    - 例: df.iloc[4:10, 2:]　（4行目から9行目で、2列目以降の全ての表）

https://qiita.com/Mayumi_Pythonista/items/6bae214755dfeb8d7353

＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

<a id="section6"></a>
## 課題: 変数作成

survivalパッケージにあるpbcデータを'df'という変数に代入して、そのDataFrameの中に、臨床スコアを'score'という列名で新しく作成してみましょう
- 以下の点数の合計点を臨床スコアとする

| 検査項目     | 変数名  | 基準      | 点数 |
|--------------|---------|-----------|------|
| アルブミン   | albumin | ≥3        | 0点  |
|              |         | <3        | 1点  |
| ビリルビン   | bili    | <2        | 0点  |
|              |         | 2≤, <5    | 1点  |
|              |         | ≥5        | 2点  |


**注意**　この課題はかなりの難問です。「難しい！」と感じた方は、下記のヒントを参考にしてください。

#### ヒント1: numpyの *where* メソッドを用いる場合

numpyの *where* メソッドを用いて、以下のような手順で'score'列を作ることができます。
1. 'score_albumin'列を作って、'albumin'が3未満の時に1、それ以外を0と代入する
2. 'score_bili'列を作って、'bili'が2以上5未満の時に1、5以上の時に2、それ以外に0を代入する。
3. 'score'列を作って、'score_albumin'列と'score_bili'列を足した値を代入する

まず、*numpy* パッケージをインポートします。
```
import numpy as np
```

手順1を実施します。
```
df['score_albumin'] = np.where(df['albumin']<3, 1, 0)
```

その次に、手順2を実施します。
```
df['score_bili'] = (
    np.where((df['bili'] >= 2) & (df['bili'] < 5), 1, 0)
    + np.where(df['bili'] >= 5, 2, 0)
)
```

そして、最後に手順3を実行します。
```
df['score'] = df['score_albumin'] + df['score_bili']
```

これで、求めたい'score'列を得ることができました。



ちなみに、これらの3つの手順を一気に一つのコードで書くこともできます。
```
df['score'] = (
    np.where(df['albumin'] < 3, 1, 0)
    + np.where((df['bili'] >= 2) & (df['bili'] < 5), 1, 0) 
    + np.where(df['bili'] >= 5, 2, 0)
)
```

#### ヒント2: for文と *loc* メソッドを使う方法

for文と *loc* メソッドで、同様のことができます。以下の手順となります。

1. 'score'列を作り、すべての行に0を代入する
2. for文を使って、条件に合えば、'score'列の各行に加算していく。

手順1では、'score'列を作り、すべての行に0を代入します。
```
df['score'] = 0
````

次に、手順2に移ります。for文とif文で条件分岐を作り、点数を加算していきます。
```
for i in range(len(df)):
    if df.loc[i, 'albumin']<3:
        df.loc[i, 'score'] += 1
    if 2<=df.loc[i,'bili']<5:
        df.loc[i, 'score'] += 1
    elif df.loc[i, 'bili']>=5:
        df.loc[i, 'score'] += 2
```

どちらでも好きな方を選んでください。

他にも色々とやり方があるので、ChatGPTなどに聞いてみましょう。

## 回答チェック
以下のコードを実行して、同じような結果が出力されればクリアです。

In [31]:
import statsmodels.api as sm
import pandas as pd
dataset = sm.datasets.get_rdataset("pbc", "survival")

def check_answer(dataset, df):
    df_check_answer = pd.DataFrame(dataset.data)
    df_check_answer['score'] = 0

    for i in range(len(df_check_answer)):
        if df_check_answer.loc[i, 'albumin'] < 3:
            df_check_answer.loc[i, 'score'] += 1
        if 2 <= df_check_answer.loc[i, 'bili'] < 5:
            df_check_answer.loc[i, 'score'] += 1
        elif df_check_answer.loc[i, 'bili'] >= 5:
            df_check_answer.loc[i, 'score'] += 2

    # df が存在するかチェック
    if 'df' not in globals():
        print('課題の、"df" が存在しません。変数名を確認してください。')
        return

    try:
        if df['score'] is None:
            print('*df["score"]* が定義されていません。')
    except KeyError:
        print('df に "score" 列が存在しません。')
    except TypeError:
        print('df に "score" 列が存在しません。')
    else:
        if df['score'].equals(df_check_answer['score']):
            print('正解です。')
        else:
            print('不正解です。')

check_answer(dataset, df)

df に "score" 列が存在しません。