# 自分で触ってよくわかる **データの要約の話**
## データの概要をつかむ
**最後に課題があります**

## 目次
### 練習
- 練習1: [（google colaboratoryを使っていない場合のみ）*statsmodels* をインストールする](#section1)
- 練習2: [statsmodelsをインポートし、サンプルデータを取得する](#section2)
- 練習3: [様々なメソッドを使って、サンプルデータを外観する①](#section3)
- 練習4: [様々なメソッドを使って、サンプルデータを外観する②](#section4)
- 練習5: [様々なメソッドを使って、サンプルデータを外観する⑤](#section5)
- 練習6: [他のサンプルデータでも同様のことをやってみる](#section6)


### 課題
- [課題](#section7)

＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊

## 練習
サンプルのデータセットを読み込んで、そのデータを色々な角度から外観してみましょう。  
今回は、*statsmodels* パッケージに含まれているデータセットを使用します。

(注) *statsmodels* パッケージとは、統計モデルを用いて推定や検定、探索ができるPythonライブラリのことです。  

手順は以下の通りです。  

1. (google colaboratoryを使っていない場合のみ) *statsmodels* をインストールする
1. statsmodelsをインポートし、サンプルデータを取得する
1. 様々なメソッドを使って、サンプルデータを外観する

<a id="section1"></a>
### 練習1: （google colaboratoryを使っていない場合のみ）*statsmodels* をインストールする

statsmodelsを使用するとき、*google colaboratory* を使用している場合は、何もしなくともすぐ使用できます。  
それ以外の環境では、statsmodelsパッケージのインストールが必要です。 どこかのセルで、以下を実行してください。  （下記のセルを実行すると、インストールします。）  
```
pip install statsmodels
```  
一回インストールしてしまえば、同じ環境であればずっと使えます。

In [ ]:
pip install statsmodels

Requirement already satisfied: pandas in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas) (1.23.5)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/daily_use/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

***

<a id="section2"></a>
### 練習2: statsmodelsをインポートし、サンプルデータを取得する

*statsmodels* の *get_rdataset* メソッドを使用して、サンプルデータを取得してみましょう。  
＊取得できるサンプルデータは、以下のサイトに列挙されています。  
https://vincentarelbundock.github.io/Rdatasets/articles/data.html  

csvファイルをダウンロードしてきても良いですが、今回はpython上で取得してみましょう。  
statsmodelsを用いて、サンプルデータを取得するコードは、以下のようになります。

```
import statsmodels.api as sm

dataset = sm.datasets.get_rdataset("データセット名", "パッケージ名")
df = dataset.data
```

- `import statsmodels.api as sm`  
statsmodelsを呼び出して、'sm'という名前で使用できるようにします。

- `dataset = sm.datasets.get_rdataset("データセット名", "パッケージ名")`  
*statsmodels* の *get_rdataset* メソッドを実行します。これにより、得られた情報を、'dataset'という変数に代入します。

- `df = dataset.data`  
datasetの中に格納されている表データを、'df'という変数に代入します。

今回は、以下のコードで *survival* パッケージの *pbc* データを取得しましょう。  

```
import statsmodels.api as sm

dataset = sm.datasets.get_rdataset("pbc", "survival")
df = dataset.data
```

それでは、下のセルにコードを書いて、実行してください。

何も出力されませんが、エラーがでなければ成功しています。  
次に進みましょう。

### おまけ  
「なんのデータやねん」  
普通はそう思いますよね。

statsmodelsを用いて取得したデータセットの中には、データセットの説明文も格納されています。  
以下のコードで呼び出すことができます。
```
print(dataset.__doc__)

# ここでいう変数'dataset'は、取得してきたデータセットを代入した変数
```

それでは、下のセルにコードを書いて、実行してください。

取得したサンプルデータの説明文が表示されました。

***

<a id="section3"></a>
### 練習3: 様々なメソッドを使って、サンプルデータを外観する①

上で取得したデータが、変数'df'に代入されています。

まず、以下のコードを実行して、最初の5行を出力して、取得したサンプルデータがどのようなものなのか、確認してみましょう。

```
df.head()
```

それでは、下のセルにコードを書いて、実行してください。

表データが出ましたか？  
エラーが出てしまう場合、もう一度 "練習2" に戻って、データを取得するところからやり直してみてください。

ここでおおよそどのような値があるのか、確認します。具体的には、
- 列名
- 要素

をみて、どのような表なのかをざっと想像しておきます。  
今回のサンプルデータは、'age'や'sex'、'ascites'、'bili'などの列名があることから、なんとなく肝疾患患者のデータかなぁと予測がつきます。

次に、特定の列のデータの平均値や中央値を見ていきましょう。

まず、'age'列の特徴を見ていきましょう。

ここでは、*describe* メソッドを用います。   
以下のコードを実行すると、'age'列に関連する、複数の値が出力されます。
```
df['age'].describe()
```

それでは、下のセルにコードを書いて、実行してください。

出力された結果は、上から順に以下の数字が並んでいます。
- 要素の数 (非欠損値の数)
- 平均
- 標準偏差
- 最小値
- 第１四分位数
- 中央値(第2四分位数)
- 第3四分位数
- 最大値

別の方法で一つ一つ出力することは可能ですが、データを外観する場合は、*describe* メソッドを用いるのが効率的です。
これで、連続値を要素にもつ'age'列のデータを外観することができました。

### おまけ
*pandas* パッケージだけで、データの簡単な図示が可能です。  
'age'列を箱ひげ図で示してみましょう。

ここでは、*plot.box* メソッドを使います。

```
df['age'].plot.box()
```

それでは、下のセルにコードを書いて、実行してください。

今度は、'age'列をヒストグラムで示してみましょう。

*hist* メソッドを使ってみましょう。

```
df['age'].hist()
```

それでは、下のセルにコードを書いて、実行してください。

このように、データを簡単に外観するだけであれば、他のパッケージを使わず、図を書くことができます。

（参考）
https://qiita.com/sckln/items/b13a52bec3ce13892936

***

<a id="section4"></a>
### 練習4: 様々なメソッドを使って、サンプルデータを外観する②

先ほどは、連続値を要素にもつ'age'列をみてみました。  
今度は、カテゴリーを要素にもつ'sex'列に、先ほどの*describe* メソッドを適用してみましょう。

```
df['sex'].describe()
```

それでは、下のセルにコードを書いて、実行してください。

出力された結果は、上から順に以下の数字が並んでいます。
- 要素の数 (非欠損値の数)
- 固有の値の数（いくつカテゴリーがあるか）
- 最も出現頻度の多い値
- 最頻値の出現回数

先ほどの'age'列に *describe* メソッドを適用した場合と異なりますね。  
このように、*describe* メソッドは、どのような変数なのかを自動的に判別してくれます。

それでは、今度は'ascites'列をみてみましょう。

説明文を読むと、この列は、*腹水あり:1 、腹水なし:0* という要素が含まれています。  
カテゴリー変数ということです。  
ここで、下記のように*describe* メソッドを適用してみましょう。

```
df['ascites'].describe()
```

それでは、下のセルにコードを書いて、実行してください。

おやおや？  
この方法では、'asites'列は連続変数として認識されてしまっているようです。なぜでしょうか。  

そこで、*info* メソッドを使って、dfの各列が、それぞれどのようにpythonに認識されているかを確認しましょう。

```
df.info()
```

それでは、下のセルにコードを書いて、実行してください。

出力されたデータの、一番右の列'Dtype'をみてください。  
これは、pythonが認識している、それぞれの列の'型'になります。

'int'という文字が含まれている場合は、その列は'整数値'と認識されています。  
'float'という文字が含まれている場合は、その列は'小数点を含む数'と認識されています。  
いずれも、連続値として認識され、*describe* メソッドを適用した場合は、連続値に適した評価が実行されます。

一方、'object'という文字が含まれるデータに対して、*describe* メソッドを適用した場合は、文字列に適した評価が実行されます。

今回、`df['ascites'].describe()`を実行した時、連続値として扱われてしまったために、平均値や標準偏差が出力されてしまいました。

それでは、'ascites'列を、カテゴリー変数であると、pythonに明示してあげましょう。  
そのためには *astype* メソッドを用います。

```
df['ascites'] = df['ascites'].astype('category')
```

このコードを説明します。  
*astype* メソッドを実行すると、新たな列を作成します。どのような列かというと、このメソッドが適用された変数（この場合は`df['ascites']`）を、その後のカッコ内に書かれている型（この場合は`'category'`）に変換した列です。

さらに、このコードでは、その新たに作った列を、もう一度`df['ascites']`に代入しなおしています。  
これにより、'ascites'列が、型をcategoryとしたものに書き換えられたことになります。

それでは、下のセルにコードを書いて、実行してみましょう。

何もエラーが出なければ、書き換えが終了しています。  
ちゃんと書き換えができているか、以下のコードを実行して確認してみましょう。

```
df.info()
```
それでは、下のセルにコードを書いて、実行してみましょう。

'asites'のDtypeが、'category'になっていれば、成功です。

そこで、もう一度、*describe* メソッドを使って、外観してみましょう。

```
df['ascites'].describe()
```

ちゃんと、欲しい解析をしてくれました。

***

<a id="section5"></a>
### 練習5: 様々なメソッドを使って、サンプルデータを外観する③

次に、'age'列の欠損値を調べてみましょう。  
欠損値に関わるデータは、先ほどの*info* メソッドでも記述されますが、ここでは *isnull()* メソッドを使って調べてみましょう。  

```
df['age'].isnull()
```

それでは、以下のセルにコードを書いて、実行してみましょう。

*False* という結果が羅列されました。  
これは、その行の要素は「欠損値ではない」ということを意味します。  
もし、*True* という結果であれば、その行において「欠損値である」ということです。

しかし、このままでは見づらいですね…   
そこで *True* だけを抜き出して、その合計数を算出してみましょう。それには、*sum* メソッドを使います。

以下のように記述します。
```
df['age'].isnull().sum()
```

これは、*isnull* メソッドで *True* が得られたものを、全て合計するという意味になります。   
この二つのメソッド（isnullとsum）を連続して、一つの表現の中で用いることを、*メソッドチェーン*と言います。

それでは、以下のセルにコードを書いて、実行してみましょう。

'0'が表示されたら、成功です。欠損値は一つもないのです。

次は'ascites'列の欠損値を確認してみます。

```
df['ascites'].isnull().sum()
```

それでは、以下のセルにコード書いて、実行してみましょう。

'106' と出力されましたか？ 106個の欠損値があるということです。

このデータセットを用いる場合は、欠損値の管理が必要になります。

***

<a id="section6"></a>
## 練習6: 他のサンプルデータでも同様のことをやってみる。
それでは、全く同じことを、他のサンプルデータでもやってみましょう。

以下のサイトから、サンプルデータを一つ選んでください。  
https://vincentarelbundock.github.io/Rdatasets/articles/data.html

まず、選んだサンプルデータを、*statsmodels* パッケージを用いて呼び出してください。

その後、取得したサンプルデータのうち、連続値の変数を一つ選び、以下を確認してください。
- 要素の数 (非欠損値の数)
- 平均
- 標準偏差
- 最小値
- 第１四分位数
- 中央値(第2四分位数)
- 第3四分位数
- 最大値
- 欠損値の数

さらに、取得したサンプルデータのうち、カテゴリー変数を一つ選び、以下を確認してください。
- 要素の数 (非欠損値の数)
- 固有の値の数（いくつカテゴリーがあるか）
- 最も出現頻度の多い値
- 最頻値の出現回数
- 欠損値の数

***

<a id="section7"></a>
## 課題: survivalパッケージにあるpbcデータについて、 治療別にデータを要約してみましょう
- 治療方法を表す変数: trt
- *groupby* メソッドと、*describe* メソッドををメソッドチェーンで繋いでみましょう。

なお、*groupby* メソッドを、以下のように挟んで実行することによって、dfを、カテゴリー変数'A'の要素別にデータを分けて分析することができます。

```
df.groupby('A').describe()
```

さらに、分析したいデータを一つの列'B'に絞りたい場合は、以下のように*groupby* メソッドを用いて記述します。
```
df.groupby('A')['B'].describe()
```

## 回答チェック
以下のコードを実行して、同じような結果が出力されればクリアです。

In [1]:
import statsmodels.api as sm

dataset = sm.datasets.get_rdataset("pbc", "survival")

def check_answer(dataset):
    data_pbc = dataset.data
    return data_pbc.groupby('trt').describe()

check_answer(dataset)

        id                                                            time  \
     count        mean        std  min    25%    50%     75%    max  count
trt
1.0  158.0  159.829114  87.349739  1.0  86.25  156.0  236.75  311.0  158.0
2.0  154.0  153.084416  93.216450  5.0  68.00  156.5  230.75  312.0  154.0

                  ... protime        stage                                     \
            mean  ...     75%   max  count      mean       std  min  25%  50%
trt               ...
1.0  2015.620253  ...    11.0  14.1  158.0  2.974684  0.937196  1.0  2.0  3.0
2.0  1996.863636  ...    11.4  17.1  154.0  3.090909  0.811387  1.0  3.0  3.0


     75%  max
trt
1.0  4.0  4.0
2.0  4.0  4.0

[2 rows x 144 columns]